// Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future
.p-datatable-loading-overlay,
.p-treetable-loading-overlay {
    background-color: white;
}

.p-splitbutton-defaultbutton,
.p-splitbutton-menubutton {
    font-size: 0.875rem !important;
    padding: 0.4375rem 0.875rem !important;
}

.p-button:disabled {
    cursor: not-allowed;
}

.p-multiselect .p-multiselect-label {
    white-space: unset;
    .p-multiselect-token {
        margin: .1rem;
    }
}

.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
    padding: 0.5rem 0.5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}


