<div class="w-full flex flex-column justify-content-center align-items-center">
    <span class="w-full p-3 text-center">Quét mã QR dưới đây bằng ứng dụng Internet Banking để thanh toán</span>
    <img width="300px" [src]="QRCode + query" alt="QRCode">
    <span class="w-full p-3 text-center">Lưu ý: Mã QR này sẽ hết hạn sau 24 giờ kể từ lúc tạo
        Số hoá đơn: 1123165795656370304
        Sau khi thanh toán, nhấp vào nút bên dưới</span>
    <button pButton style="width: 300px;" label="Hoàn tất thanh toán"></button>
</div>
