<p-table [fxHide.lt-md]="true" [lazy]="true" #campaignAdsData [value]="campaignAds" dataKey="campaignServiceId"
    styleClass="p-datatable-sm" [scrollHeight]="code ? 'calc(100vh - 272px)' :'calc(100vh - 433px)'"
    [loading]="fetchingData" [(selection)]="selectedCampaignAds" [scrollable]="true"
    (selectionChange)="selectionChange()" (onSort)="sortCustom($event)" responsiveLayout="scroll">
    <ng-template *ngIf="actions.includes(702) || actions.includes(703)" pTemplate="caption">
        <div class="flex">
            <p-button label="{{'Add_campaign' | translate}}" icon="pi pi-plus" styleClass="p-button-sm mr-2"
                (click)="openDialog()"></p-button>
            <p-button label="{{'Add_other_service' | translate}}" icon="pi pi-plus" styleClass="p-button-sm"
                (click)="openDialogOtherService()"></p-button>

            <span class="ml-auto">
                <p-button label="{{'Delete' | translate}}" icon="pi pi-trash"
                    styleClass="p-button-sm ml-2 p-button-danger" *ngIf="selectedCampaignAds?.length > 0"
                    (click)="confirm($event)"></p-button>
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pFrozenColumn style="max-width: 4rem; min-width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pFrozenColumn style="max-width: 7rem; min-width: 7rem">{{'Status' | translate}}</th>
            <th pFrozenColumn style="max-width: 20rem; min-width: 15rem" pSortableColumn="campaignServiceName">
                {{'Campaign' | translate}}
                <p-sortIcon field="campaignServiceName"></p-sortIcon>
                <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 20rem; min-width: 15rem" pSortableColumn="projectName">
                {{'Project' | translate}}
                <p-sortIcon field="projectName"></p-sortIcon>
                <p-columnFilter type="text" field="project" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 20rem; min-width: 15rem" pSortableColumn="customerName">
                {{'Customer' | translate}}
                <p-sortIcon field="customerName"></p-sortIcon>
                <p-columnFilter type="text" field="customerName" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 20rem; min-width: 10rem" pSortableColumn="hotline">
                {{'Hotline' | translate}}
                <p-sortIcon field="hotline"></p-sortIcon>
                <p-columnFilter type="text" field="hotline" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 20rem; min-width: 10rem" pSortableColumn="performance">
                {{'Performance' | translate}}
                <p-sortIcon field="performance"></p-sortIcon>
                <p-columnFilter type="text" field="performanceString" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 20rem; min-width: 10rem" pSortableColumn="serviceName">
                {{'Service' | translate}}
                <p-sortIcon field="serviceName"></p-sortIcon>
                <p-columnFilter type="text" field="serviceName" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 20rem; min-width: 12rem" pSortableColumn="adAccount">
                {{'Ad_account' | translate}}
                <p-sortIcon field="adAccount"></p-sortIcon>
                <p-columnFilter type="text" field="adAccount" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 20rem; min-width: 10rem" pSortableColumn="startDate">
                {{'Start_date' | translate}}
                <p-sortIcon field="startDate"></p-sortIcon>
                <p-columnFilter type="text" field="startDate" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 20rem; min-width: 10rem" pSortableColumn="endDate">
                {{'End_date' | translate}}
                <p-sortIcon field="endDate"></p-sortIcon>
                <p-columnFilter type="text" field="endDate" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 20rem; min-width: 15rem">{{'Employees' | translate}}</th>
            <th style="max-width: 20rem; min-width: 10rem" pSortableColumn="campaignServiceGoal">
                {{'Target' | translate}}
                <p-sortIcon field="campaignServiceGoal"></p-sortIcon>
                <p-columnFilter type="numeric" field="goal" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 20rem; min-width: 10rem" pSortableColumn="description">
                {{'Description' | translate}}
                <!-- <p-sortIcon field="description"></p-sortIcon> -->
                <p-columnFilter type="text" field="description" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 20rem; min-width: 10rem" pSortableColumn="feeAmount">
                {{'Fee' | translate}}
                <p-sortIcon field="feeAmount"></p-sortIcon>
                <p-columnFilter type="text" field="serviceFee" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 20rem; min-width: 10rem" pSortableColumn="campaignServiceCPR">
                {{'Cost_per_result' | translate}}
                <p-sortIcon field="campaignServiceCPR"></p-sortIcon>
                <p-columnFilter type="numeric" field="costPerResult" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 20rem; min-width: 10rem" pSortableColumn="campaignServiceResult">
                {{'Result' | translate}}
                <p-sortIcon field="campaignServiceResult"></p-sortIcon>
                <p-columnFilter type="numeric" field="result" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 20rem; min-width: 10rem" pSortableColumn="campaignServiceAmount">
                {{'Cost' | translate}}
                <p-sortIcon field="campaignServiceAmount"></p-sortIcon>
                <p-columnFilter type="numeric" field="amount" display="menu"></p-columnFilter>
            </th>
            <th style="min-width: 100px; max-width: 120px;" pSortableColumn="name">{{'Action' | translate}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-campaignAd>
        <tr>
            <td pFrozenColumn style="max-width: 4rem; min-width: 4rem">
                <p-tableCheckbox [value]="campaignAd"></p-tableCheckbox>
            </td>
            <td pFrozenColumn style="max-width: 7rem; min-width: 7rem">
                <p-inputSwitch [disabled]="code" [(ngModel)]="campaignAd.isActive"
                    (onChange)="toggleState(campaignAd, $event)">
                </p-inputSwitch>
            </td>
            <td pFrozenColumn style="max-width: 20rem; min-width: 15rem;">
                <div>
                    <div>{{campaignAd.name}}</div>
                    <div>{{campaignAd.customerName}}</div>
                    <div>{{campaignAd.project}}</div>
                    <div>{{campaignAd.serviceName}}</div>
                </div>
            </td>
            <td style="max-width: 20rem; min-width: 15rem">{{campaignAd.project}}</td>
            <td style="max-width: 20rem; min-width: 15rem">{{campaignAd.customerName}}</td>
            <td style="max-width: 20rem; min-width: 10rem">{{campaignAd.hotline}}</td>
            <td style="max-width: 20rem; min-width: 10rem">
                <span
                    [ngStyle]="{'color': getColor(campaignAd.performanceString)}">{{campaignAd.performanceString}}</span>
            </td>
            <td style="max-width: 20rem; min-width: 10rem">{{campaignAd.serviceName}}</td>
            <td style="max-width: 20rem; min-width: 12rem">{{campaignAd.adAccount}}</td>
            <td style="max-width: 20rem; min-width: 10rem">{{campaignAd.startDate}}</td>
            <td style="max-width: 20rem; min-width: 10rem">{{campaignAd.endDate}}</td>
            <td style="max-width: 20rem; min-width: 15rem">
                <div>
                    <div *ngFor="let staff of campaignAd.staffs">
                        {{staff.lastName + ' ' + staff.firstName}}
                    </div>
                </div>
            </td>
            <td style="max-width: 20rem; min-width: 10rem">{{campaignAd.goal | number}}</td>
            <td style="max-width: 20rem; min-width: 10rem">{{campaignAd.description}}</td>
            <td style="max-width: 20rem; min-width: 10rem">{{campaignAd.serviceFee | number}}</td>
            <td style="max-width: 20rem; min-width: 10rem">{{campaignAd.costPerResult | number}}</td>
            <td style="max-width: 20rem; min-width: 10rem">{{campaignAd.result | number}}</td>
            <td style="max-width: 20rem; min-width: 10rem">{{campaignAd.amount | number}}</td>
            <td style="min-width: 100px; max-width: 120px;">
                <button [disabled]="code" pButton pRipple type="button" icon="pi pi-info-circle"
                    pTooltip="{{'Detail' | translate}}" tooltipPosition="top" class="p-button-rounded p-button-text"
                    (click)="openDialog(campaignAd, 'VIEW')"></button>

                <button [disabled]="!actions.includes(704) || !actions.includes(705)" pButton pRipple type="button"
                    icon="pi pi-pencil" pTooltip="{{'Edit' | translate}}" tooltipPosition="top"
                    class="p-button-rounded p-button-text" (click)="openDialogHandler(campaignAd)"></button>

                <button [disabled]="!actions.includes(706) || !actions.includes(707)" pButton pRipple type="button"
                    icon="pi pi-trash" pTooltip="{{'Delete' | translate}}" tooltipPosition="top"
                    class="p-button-rounded p-button-text p-button-danger" (click)="delete(campaignAd)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-end">
            <div class="px-2">
                <div class="text-center">{{total.avgAmountPer | number}}</div>
                <div class="font-italic">{{'Average_amount' | translate}}</div>
            </div>

            <div class="px-2">
                <div class="text-center">{{total.totalResult | number}}</div>
                <div class="font-italic">{{'Total_result' | translate}}</div>
            </div>

            <div class="px-2">
                <div class="text-center">{{total.totalAmount | number}}</div>
                <div class="font-italic">{{'Total_amount' | translate}}</div>
            </div>

            <div class="px-2">
                <div class="text-center">{{total.totalAnotherServiceFee | number}}</div>
                <div class="font-italic">{{'Total_another_service' | translate}}</div>
            </div>
        </div>
    </ng-template>
</p-table>

<!-- mobile & tablet view -->
<div>
    <div class="campaign overlay" *ngIf="fetchingData">
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
    </div>
    <div [fxHide.gt-sm]="true" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayout.xs="column"
        fxLayoutAlign.xs="start stretch">
        <div class="card mb-3 border-round shadow-none" *ngFor="let campaignAd of campaignAds" fxFlex.gt-xs="49"
            fxFlex.xs="100">

            <div fxLayoutAlign="space-between start" class="mb-2">
                <span class="font-bold">
                    {{campaignAd.name}}</span>
                <p-checkbox [value]="campaignAd" [(ngModel)]="selectedCampaignAds"
                    (ngModelChange)="campaignAdsSelectedHandle()">
                </p-checkbox>
            </div>

            <div fxLayoutAlign="space-between start" class="mb-2">
                <b>{{'Project' | translate}}:</b>
                <span>{{campaignAd.project}}</span>
            </div>

            <div fxLayoutAlign="space-between start" class="mb-2">
                <b>{{'Customer' | translate}}:</b>
                <span>{{campaignAd.customerName}} - {{campaignAd.hotline}} </span>
            </div>

            <div fxLayoutAlign="space-between start" class="mb-2">
                <b>{{'Service' | translate}}:</b>
                <span>{{campaignAd.serviceName}}</span>
            </div>

            <div fxLayoutAlign="space-between start" class="mb-2">
                <b>{{'Performance' | translate}}:</b>
                <span>
                    <span
                        [ngStyle]="{'color': getColor(campaignAd.performanceString)}">({{campaignAd.performanceString}})</span>
                </span>
            </div>

            <div fxLayoutAlign="space-between start" class="mb-2">
                <b>{{'Ad_account' | translate}}:</b>
                <span>{{campaignAd.adAccount}}</span>
            </div>

            <div fxLayoutAlign="space-between start" class="mb-2">
                <b>{{'Start_date' | translate}}:</b>
                <span>{{campaignAd.startDate}}</span>
            </div>

            <div fxLayoutAlign="space-between start" class="mb-2">
                <b>{{'End_date' | translate}}:</b>
                <span>{{campaignAd.endDate}}</span>
            </div>

            <div fxLayoutAlign="space-between start" class="mb-2">
                <b>{{'Staff' | translate}}:</b>
                <span>
                    <div *ngFor="let staff of campaignAd.staffs">
                        {{staff.lastName + ' ' + staff.firstName}}
                    </div>
                </span>
            </div>

            <div fxLayoutAlign="space-between start" class="mb-2">
                <b>{{'Target' | translate}}:</b>
                <span>{{campaignAd.goal | number}}</span>
            </div>

            <div fxLayoutAlign="space-between start" class="mb-2">
                <b>{{'Description' | translate}}:</b>
                <span>{{campaignAd.description}}</span>
            </div>

            <div fxLayoutAlign="space-between start" class="mb-2">
                <b>{{'Fee' | translate}}:</b>
                <span>{{campaignAd.serviceFee | number}}</span>
            </div>

            <div fxLayoutAlign="space-between start" class="mb-2">
                <b>{{'Cost_per_result' | translate}}:</b>
                <span>{{campaignAd.costPerResult | number}}</span>
            </div>

            <div fxLayoutAlign="space-between start" class="mb-2">
                <b>{{'Result' | translate}}:</b>
                <span>{{campaignAd.result | number}}</span>
            </div>

            <div fxLayoutAlign="space-between start" class="mb-2">
                <b>{{'Cost' | translate}}:</b>
                <span>{{campaignAd.amount | number}}</span>
            </div>

            <div *ngIf="!code" fxLayout="row wrap" fxLayoutAlign="center center">
                <p-inputSwitch [(ngModel)]="campaignAd.isActive" (onChange)="toggleState(campaignAd, $event)">
                </p-inputSwitch>

                <button [disabled]="code" pButton pRipple type="button" icon="pi pi-info-circle"
                    pTooltip="{{'Detail' | translate}}" tooltipPosition="top" class="p-button-rounded p-button-text"
                    (click)="openDialog(campaignAd, 'VIEW')"></button>

                <button [disabled]="!actions.includes(704) || !actions.includes(705)" pButton pRipple type="button"
                    icon="pi pi-pencil" pTooltip="{{'Edit' | translate}}" tooltipPosition="top"
                    class="p-button-rounded p-button-text" (click)="openDialogHandler(campaignAd)"></button>

                <button [disabled]="!actions.includes(706) || !actions.includes(707)" pButton pRipple type="button"
                    icon="pi pi-trash" pTooltip="{{'Delete' | translate}}" tooltipPosition="top"
                    class="p-button-rounded p-button-text p-button-danger" (click)="delete(campaignAd)"></button>
            </div>
        </div>
    </div>
</div>

<p-paginator *ngIf="!fetchingData" [rows]="limit" [totalRecords]="totalRecords" (onPageChange)="changePage($event)"
    [rowsPerPageOptions]="[30, 100, 500, 1000]"></p-paginator>

<p-confirmPopup></p-confirmPopup>
