<p-table [fxHide.lt-md]="true" [lazy]="true" #projectData [value]="projects" dataKey="campaignId"
    styleClass="p-datatable-sm" responsiveLayout="scroll"
    [scrollHeight]="code ? 'calc(100vh - 272px)' :'calc(100vh - 433px)'" [loading]="fetchingData"
    [(selection)]="selectedProjects" [scrollable]="true" (selectionChange)="selectionChange()"
    (onSort)="sortCustom($event)" [sortField]="code ? 'expenditureAmount' : ''" [sortOrder]="code ? 1 : null">
    <ng-template *ngIf="actions.includes(602) || actions.includes(604)" pTemplate="caption">
        <div class="flex">
            <p-button *ngIf="actions.includes(602)" label="{{'Add_project' | translate}}" icon="pi pi-plus"
                styleClass="p-button-sm" (click)="openDialog()"></p-button>

            <span class="ml-auto">
                <p-button label="{{'Delete' | translate}}" icon="pi pi-trash" styleClass="p-button-sm p-button-danger"
                    *ngIf="actions.includes(602) && selectedProjects?.length > 0" (click)="confirm($event)"></p-button>
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pFrozenColumn style="max-width: 4rem; min-width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="max-width: 25rem; min-width: 15rem" pFrozenColumn pSortableColumn="projectName">
                {{'Project_name' | translate}}
                <p-sortIcon field="projectName"></p-sortIcon>
                <p-columnFilter type="text" field="projectName" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 25rem; min-width: 15rem" pSortableColumn="customerName">
                {{'Customer' | translate}}
                <p-sortIcon field="customerName"></p-sortIcon>
                <p-columnFilter type="text" field="customerName" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 25rem; min-width: 10rem" pSortableColumn="hotline">
                {{'Hotline' | translate}}
                <p-sortIcon field="hotline"></p-sortIcon>
                <p-columnFilter type="text" field="hotline" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 25rem; min-width: 12rem" pSortableColumn="category">
                {{'Category' | translate}}
                <!-- <p-sortIcon field="category"></p-sortIcon> -->
                <p-columnFilter type="text" field="category" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 25rem; min-width: 10rem" pSortableColumn="performance">
                {{'Performance' | translate}}
                <p-sortIcon field="performance"></p-sortIcon>
                <p-columnFilter type="text" field="performanceString" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 25rem; min-width: 15rem" pSortableColumn="transactionAmount">
                {{'Customer_transaction' | translate}}
                <p-sortIcon field="transactionAmount"></p-sortIcon>
                <p-columnFilter type="numeric" field="transactionAmount" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 25rem; min-width: 10rem" pSortableColumn="expenditureAmount">
                {{'Expenditure' | translate}}
                <p-sortIcon field="expenditureAmount"></p-sortIcon>
                <p-columnFilter type="numeric" field="expenditureAmount" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 25rem; min-width: 11rem" pSortableColumn="accountingAmount">
                {{'Accounting' | translate}}
                <p-sortIcon field="accountingAmount"></p-sortIcon>
                <p-columnFilter type="numeric" field="accountingAmount" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 25rem; min-width: 10rem" pSortableColumn="feeAmount">
                {{'Fee' | translate}}
                <p-sortIcon field="feeAmount"></p-sortIcon>
                <p-columnFilter type="numeric" field="feeAmount" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 25rem; min-width: 10rem" pSortableColumn="customerFeeRate">
                {{'Fee_rate' | translate}}
                <p-sortIcon field="customerFeeRate"></p-sortIcon>
                <p-columnFilter type="numeric" field="fixedRate" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 25rem; min-width: 10rem" pSortableColumn="dayLeft">
                {{'Day_left' | translate}}
                <p-sortIcon field="dayLeft"></p-sortIcon>
                <p-columnFilter type="numeric" field="dayLeft" display="menu"></p-columnFilter>
            </th>
            <th style="min-width: 100px; max-width: 120px;">{{'Action' | translate}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project>
        <tr>
            <td pFrozenColumn style="max-width: 4rem; min-width: 4rem">
                <p-tableCheckbox [value]="project"></p-tableCheckbox>
            </td>
            <td style="max-width: 25rem; min-width: 15rem" pFrozenColumn>
                <div class="cursor-pointer text-primary" (click)="projectClicked(project)">
                    {{project.projectName}}
                </div>
            </td>
            <td style="max-width: 25rem; min-width: 15rem">{{project.customerName}}</td>
            <td style="max-width: 25rem; min-width: 10rem">{{project.hotline}}</td>
            <td style="max-width: 25rem; min-width: 12rem">{{project.category}}</td>
            <td style="max-width: 25rem; min-width: 10rem">
                <div>
                    <div>{{project.performanceRate}}</div>
                    <div [ngStyle]="{'color': getColor(project.performanceString)}">{{project.performanceString}}</div>
                </div>
            </td>
            <td style="max-width: 25rem; min-width: 15rem">{{project.transactionAmount | number}}</td>
            <td style="max-width: 25rem; min-width: 10rem">{{project.expenditureAmount | number}}</td>
            <td style="max-width: 25rem; min-width: 11rem">{{project.accountingAmount | number}}</td>
            <td style="max-width: 25rem; min-width: 10rem">{{project.feeAmount | number}}</td>
            <td style="max-width: 25rem; min-width: 10rem">{{project.feeType === 2 ? ('Package_fee' | translate) :
                project.fixedRate * 100 + ' %'}}</td>
            <td style="max-width: 25rem; min-width: 10rem">
                <ng-container *ngIf="project.isExpired; else dayLeft">
                    <span class="red">{{'Expired' | translate}}</span>
                    <button pButton pRipple type="button" icon="pi pi-history" pTooltip="{{'Extend' | translate}}"
                        tooltipPosition="top" class="p-button-rounded p-button-text"
                        (click)="openDialogExtend(project)"></button>
                </ng-container>
                <ng-template #dayLeft>
                    {{project.dayLeft}}
                </ng-template>
            </td>
            <td style="min-width: 100px; max-width: 120px;">

                <button [disabled]="code" pButton pRipple type="button" icon="pi pi-info-circle"
                    pTooltip="{{'Detail' | translate}}" tooltipPosition="top" class="p-button-rounded p-button-text"
                    (click)="openDialog(project, 'VIEW')"></button>

                <button [disabled]="!actions.includes(603)" pButton pRipple type="button" icon="pi pi-pencil"
                    pTooltip="{{'Edit' | translate}}" tooltipPosition="top" class="p-button-rounded p-button-text"
                    (click)="openDialog(project)"></button>

                <button [disabled]="!actions.includes(604)" pButton pRipple type="button" icon="pi pi-trash"
                    pTooltip="{{'Delete' | translate}}" tooltipPosition="top"
                    class="p-button-rounded p-button-text p-button-danger" (click)="delete(project)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-end">
            <div class="px-2">
                <div class="text-center">{{total.totalTransactionAmount | number}}</div>
                <div class="font-italic">{{'Total_transaction_amount' | translate}}</div>
            </div>

            <div class="px-2">
                <div class="text-center">{{total.totalExpenditureAmount | number}}</div>
                <div class="font-italic">{{'Total_expenditure_amount' | translate}}</div>
            </div>

            <div class="px-2">
                <div class="text-center">{{total.totalAccountingAmount | number}}</div>
                <div class="font-italic">{{'Total_accounting_amount' | translate}}</div>
            </div>

            <div class="px-2">
                <div class="text-center">{{total.totalFeeAmount | number}}</div>
                <div class="font-italic">{{'Total_fee_amount' | translate}}</div>
            </div>

            <div class="px-2">
                <div class="text-center">{{total.totalAnotherServiceFee | number}}</div>
                <div class="font-italic">{{'Total_another_service' | translate}}</div>
            </div>
        </div>
    </ng-template>
</p-table>

<!-- mobile & tablet view -->
<div [fxHide.gt-sm]="true" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayout.xs="column"
    fxLayoutAlign.xs="start stretch">
    <div class="card mb-3 border-round shadow-none" *ngFor="let project of projects" fxFlex.gt-xs="49" fxFlex.xs="100">
        <div fxLayoutAlign="space-between start" class="mb-2">
            <span class="cursor-pointer text-primary font-bold" (click)="projectClicked(project)">
                {{project.projectName}}</span>
            <p-checkbox [value]="project" [(ngModel)]="selectedProjects" (ngModelChange)="projectSelectedHandle()">
            </p-checkbox>
        </div>

        <div fxLayoutAlign="space-between start" class="mb-2">
            <span *ngIf="project.category">({{project.category}})</span>
        </div>

        <div fxLayoutAlign="space-between start" class="mb-2">
            <b>{{'Customer' | translate}}:</b>
            <span>{{project.customerName}} - {{project.hotline}} </span>
        </div>

        <div fxLayoutAlign="space-between start" class="mb-2">
            <b>{{'Performance' | translate}}:</b>
            <span>
                <span>{{project.performanceRate}} </span>
                <span [ngStyle]="{'color': getColor(project.performanceString)}">({{project.performanceString}})</span>
            </span>
        </div>

        <div fxLayoutAlign="space-between start" class="mb-2">
            <b>{{'Customer_transaction' | translate}}:</b>
            <span>
                <span>{{project.transactionAmount | number}}</span>
            </span>
        </div>

        <div fxLayoutAlign="space-between start" class="mb-2">
            <b>{{'Expenditure' | translate}}:</b>
            <span>
                <span>{{project.expenditureAmount | number}}</span>
            </span>
        </div>

        <div fxLayoutAlign="space-between start" class="mb-2">
            <b>{{'Accounting' | translate}}:</b>
            <span>
                <span>{{project.accountingAmount | number}}</span>
            </span>
        </div>

        <div fxLayoutAlign="space-between start" class="mb-2">
            <b>{{'Fee' | translate}}:</b>
            <span>
                <span>{{project.feeAmount | number}}</span>
            </span>
        </div>

        <div fxLayoutAlign="space-between start" class="mb-2">
            <b>{{'Fee_rate' | translate}}:</b>
            <span>
                <span>{{project.feeType === 2 ? ('Package_fee' | translate) :
                    project.fixedRate * 100 + ' %'}}</span>
            </span>
        </div>

        <div fxLayoutAlign="space-between start" class="mb-2">
            <b>{{'Day_left' | translate}}:</b>
            <ng-container *ngIf="project.isExpired; else dayLeft">
                <span class="red">{{'Expired' | translate}}</span>
                <button pButton pRipple type="button" icon="pi pi-history" pTooltip="{{'Extend' | translate}}"
                    tooltipPosition="top" class="p-button-rounded p-button-text"
                    (click)="openDialogExtend(project)"></button>
            </ng-container>
            <ng-template #dayLeft>
                {{project.dayLeft}}
            </ng-template>
        </div>

        <div *ngIf="!code" fxLayout="row wrap" fxLayoutAlign="center start">
            <button [disabled]="code" pButton pRipple type="button" icon="pi pi-info-circle"
                pTooltip="{{'Detail' | translate}}" tooltipPosition="top" class="p-button-rounded p-button-text"
                (click)="openDialog(project, 'VIEW')"></button>

            <button [disabled]="!actions.includes(603)" pButton pRipple type="button" icon="pi pi-pencil"
                pTooltip="{{'Edit' | translate}}" tooltipPosition="top" class="p-button-rounded p-button-text"
                (click)="openDialog(project)"></button>

            <button [disabled]="!actions.includes(604)" pButton pRipple type="button" icon="pi pi-trash"
                pTooltip="{{'Delete' | translate}}" tooltipPosition="top"
                class="p-button-rounded p-button-text p-button-danger" (click)="delete(project)"></button>
        </div>
    </div>
</div>

<p-paginator [rows]="limit" [totalRecords]="totalRecords" (onPageChange)="changePage($event)"
    [rowsPerPageOptions]="[30, 100, 500, 1000]"></p-paginator>

<p-confirmPopup></p-confirmPopup>
