.dot-elastic {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #007aff;
    color: #007aff;
    animation: dotElastic 1s infinite linear;
}

.dot-elastic::before,
.dot-elastic::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-elastic::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #007aff;
    color: #007aff;
    animation: dotElasticBefore 1s infinite linear;
}

.dot-elastic::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #007aff;
    color: #007aff;
    animation: dotElasticAfter 1s infinite linear;
}

@keyframes dotElasticBefore {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1.5);
    }

    50% {
        transform: scale(1, 0.67);
    }

    75% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes dotElastic {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 1.5);
    }

    75% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes dotElasticAfter {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 0.67);
    }

    75% {
        transform: scale(1, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.card-customer-info,
.bg-mobile {
    background: #007aff;
    // background: linear-gradient(129deg, #27b2ff 0%, #007aff 35%, #94ebff 100%);
}

.card-project {
    background: #27b2ff;
}

.card-campaign {
    background: #7EB2DF;
}

@media only screen and (max-width: 599.5px) {
    ::ng-deep p-calendar {
        span>div {
            display: flex;
            flex-direction: row-reverse;

            p-footer {
                display: flex;
                flex-direction: column;
                width: max-content;
                justify-content: center;
            }
        }
    }
}

.loading {
    height: -webkit-fill-available;
}
