<div class="field">
    <label for="name" class="block">{{'Name' | translate}}</label>
    <input id="name" type="text" pInputText class="w-full" [(ngModel)]="dialogData.serviceName" autocomplete="off" />
    <small *ngIf="!dialogData.serviceName && invalid" class="p-error">{{'Name_required' | translate}}</small>
</div>

<div class="field">
    <label for="description" class="block">{{'Description' | translate}}</label>
    <textarea pInputTextarea id="description" type="text" pInputText class="w-full" [(ngModel)]="dialogData.description"
        autocomplete="off"></textarea>
    <small *ngIf="!dialogData.description && invalid" class="p-error">{{'Description_required' | translate}}</small>
</div>

<div class="field">
    <label for="serviceType" class="block">{{'Service_type' | translate}}</label>
    <p-dropdown appendTo="body" [options]="serviceType" styleClass="w-full" [(ngModel)]="dialogData.serviceTypeId"
        optionLabel="label" optionValue="value" placeholder="{{ 'Select_service_type' | translate }}">
    </p-dropdown>
    <small *ngIf="!dialogData.serviceTypeId && invalid" class="p-error">{{'Service_type_required' | translate}}</small>
</div>

<div class="field" *ngIf="!config.data">
    <label for="description" class="block">{{'Parent_service' | translate}}</label>
    <p-dropdown appendTo="body" [options]="services" styleClass="w-full" [(ngModel)]="dialogData.parentId"
        optionLabel="serviceName" optionValue="serviceId" placeholder="{{ 'Select_parent_service' | translate }}"
        [filter]="true" filterBy="serviceName">
    </p-dropdown>
</div>

<div class="field" *ngIf="!config.data">
    <label for="name" class="block">{{'Active' | translate}}</label>
    <p-inputSwitch [(ngModel)]="dialogData.isActive"></p-inputSwitch>
</div>

<div class="flex justify-content-end mt-3">
    <p-button icon="pi pi-times" label="{{'Cancel' | translate}}" styleClass="p-button-text"
        (click)="dialogRef.close()"></p-button>
    <p-button icon="pi pi-check" label="{{'Submit' | translate}}" styleClass="p-button-text" *ngIf="!config.data"
        (click)="create()"></p-button>
    <p-button icon="pi pi-check" label="{{'Update' | translate}}" styleClass="p-button-text" *ngIf="config.data"
        (click)="update()"></p-button>
</div>
