<div class="field" *ngIf="!dialogConfig.data?.id">
    <label for="currentPassword" class="block">{{'Current_password' | translate}}</label>
    <input id="currentPassword" type="password" pInputText class="w-full" [(ngModel)]="dialogData.oldPassword"
        autocomplete="off" />
    <small *ngIf="!dialogData.oldPassword && invalid" class="p-error">{{'Current_password_required' |
        translate}}</small>
</div>

<div class="field">
    <label for="newPassword" class="block">{{'New_password' | translate}}</label>
    <input id="newPassword" type="password" pInputText class="w-full" [(ngModel)]="dialogData.newPassword"
        (ngModelChange)="checkPassword()" autocomplete="off" />
    <small *ngIf="!dialogData.newPassword && invalid" class="p-error">{{'New_password_required' | translate}}</small>
</div>

<div class="field">
    <label for="confirmPassword" class="block">{{'Confirm_password' | translate}}</label>
    <input id="confirmPassword" type="password" pInputText class="w-full" [(ngModel)]="dialogData.confirmPassword"
        (ngModelChange)="checkPassword()" autocomplete="off" />
    <small *ngIf="!dialogData.confirmPassword && invalid" class="p-error">{{'Confirm_password_required' |
        translate}}</small>
    <small *ngIf="notMatch" class="p-error">{{'Password_not_match' |
        translate}}</small>
</div>

<div class="flex justify-content-end mt-3">
    <p-button icon="pi pi-times" label="{{'Cancel' | translate}}" styleClass="p-button-text"
        (click)="dialogRef.close()"></p-button>
    <p-button icon="pi pi-check" label="{{'Submit' | translate}}" styleClass="p-button-text" (click)="submitHandler()">
    </p-button>
</div>
