<div class="card">

    <!-- table data -->
    <p-treeTable #projectData [value]="projects" styleClass="p-treetable-sm" responsiveLayout="scroll"
        scrollHeight="calc(100vh - 333px)" [loading]="fetchingData">
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-button *ngIf="actions.includes(401)" label="{{'Add_project' | translate}}" icon="pi pi-plus"
                    styleClass="p-button-sm" (click)="openDialog()"></p-button>
                <div class="ml-auto">
                    <input pInputText type="text" [ngModel]="filter.name"
                        (ngModelChangeDebounced)="searchByName($event)"
                        placeholder="{{'Search_by_name' | translate}}" />

                    <input pInputText type="text" [ngModel]="filter.categoryName" class="mx-2"
                        (ngModelChangeDebounced)="searchByCategoryName($event)"
                        placeholder="{{'Search_by_category_name' | translate}}" />

                    <p-multiSelect inputId="category" [options]="categories" optionLabel="name"
                        [(ngModel)]="filter.categoryIds" (ngModelChange)="getProjects()"
                        placeholder="{{'Select_category' | translate}}" optionValue="categoryId" filter="true"
                        maxSelectedLabels="1" selectedItemsLabel="{0} {{'Items_selected' | translate}}" appendTo="body">
                    </p-multiSelect>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <!-- <th pResizableColumn></th> -->
                <th>{{'Name' | translate}}</th>
                <th>{{'Description' | translate}}</th>
                <th>{{'Category' | translate}}</th>
                <th>{{'Created_by' | translate}}</th>
                <th>{{'Created_date' | translate}}</th>
                <th>{{'Last_modified' | translate}}</th>
                <th style="min-width: 100px; max-width: 120px;">{{'Action' | translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-project="rowData">
            <tr [ttRow]="rowNode">
                <!-- <td>
                    <p-inputSwitch [(ngModel)]="role.isActive" (onChange)="toggleState(role, $event)"></p-inputSwitch>
                </td> -->
                <td>
                    <div class="flex">
                        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                        <div>
                            {{project.name}}
                        </div>
                    </div>
                </td>
                <td>{{project.description}}</td>
                <td>{{project.category?.name}}</td>
                <td>{{project.createdName}}</td>
                <td>{{project.createdDate}}</td>
                <td>{{project.modifiedDate}}</td>
                <td style="min-width: 100px; max-width: 120px;">
                    <button [disabled]="!actions.includes(402)" pButton pRipple type="button" icon="pi pi-pencil"
                        pTooltip="{{'Edit' | translate}}" tooltipPosition="top" class="p-button-rounded p-button-text"
                        (click)="openDialog(project)"></button>

                    <button [disabled]="!actions.includes(403)" pButton pRipple type="button" icon="pi pi-trash"
                        pTooltip="{{'Delete' | translate}}" tooltipPosition="top"
                        class="p-button-rounded p-button-text p-button-danger" (click)="delete(project)"></button>
                </td>
            </tr>
        </ng-template>
    </p-treeTable>

    <p-paginator [rows]="limit" [totalRecords]="totalRecords" (onPageChange)="changePage($event)"
        [rowsPerPageOptions]="[30, 100, 500, 1000]"></p-paginator>

</div>
