<div style="width: 300px">
    <p-dropdown appendTo="body" [options]="campaignFilterOptions" [(ngModel)]="filterForm.filterOption" [disabled]="filterUpdate"
        optionLabel="label" optionValue="value" [filter]="true" filterBy="label" (onChange)="compare.show()"
        placeholder="{{'Select_filter_option' | translate}}" styleClass="w-full mb-3"></p-dropdown>

    <p-dropdown appendTo="body" [options]="compareOptions" #compare [(ngModel)]="filterForm.compareOption"
        optionLabel="label" optionValue="value" [filter]="true" filterBy="label"
        placeholder="{{'Select_compare_option' | translate}}" styleClass="w-full mb-3"></p-dropdown>

    <p-dropdown *ngIf="filterForm.filterOption === 'serviceName'" appendTo="body" [options]="adServices"
        [(ngModel)]="filterForm.value" optionLabel="serviceName" optionValue="serviceName" [filter]="true"
        filterBy="serviceName" placeholder="{{'Select_service' | translate}}" styleClass="w-full mb-3"></p-dropdown>

    <p-dropdown *ngIf="filterForm.filterOption === 'projectName'" appendTo="body" [options]="projects"
        [(ngModel)]="filterForm.value" optionLabel="name" optionValue="name" [filter]="true" filterBy="name"
        placeholder="{{'Select_project' | translate}}" styleClass="w-full mb-3"></p-dropdown>

    <div class="flex justify-content-end mt-3">
        <p-button icon="pi pi-check" label="{{'Submit' | translate}}" styleClass="p-button-text"
            [disabled]="!this.filterForm.compareOption || !this.filterForm.filterOption || !this.filterForm.value"
            (click)="submitHandler()">
        </p-button>
    </div>
</div>
