<p-table #customerData [value]="customers" dataKey="userId" styleClass="p-datatable-sm" responsiveLayout="scroll"
    scrollHeight="calc(100vh - 433px)" [loading]="fetchingData" [(selection)]="selectedCustomers"
    (selectionChange)="selectionChange()" [scrollable]="true">
    <ng-template *ngIf="actions.includes(105) || actions.includes(107)" pTemplate="caption">
        <div class="flex">
            <p-button *ngIf="actions.includes(105)" label="{{'Add_customer' | translate}}" icon="pi pi-plus"
                styleClass="p-button-sm mr-2" (click)="openDialog()"></p-button>
            <p-splitButton label="{{'Add_employee_from_Excel' | translate}}" icon="pi pi-plus" [model]="items">
            </p-splitButton>
            <input type="file" #file style="display: none;" (change)="selectFileHandler($event)"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            <a #template href="/assets/template/template_create_employees.xlsx"></a>

            <span class="ml-auto">
                <p-button label="{{'Delete' | translate}}" icon="pi pi-trash"
                    styleClass="p-button-sm ml-2 p-button-danger"
                    *ngIf="actions.includes(107) && selectedCustomers?.length > 0" (click)="confirm($event)"></p-button>
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pFrozenColumn style="max-width: 4rem; min-width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="max-width: 25rem; min-width: 15rem" pFrozenColumn pSortableColumn="customerName">
                {{'Customer' | translate}}
                <p-sortIcon field="customerName"></p-sortIcon>
                <p-columnFilter type="text" field="customerName" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 25rem; min-width: 12rem" pSortableColumn="phone">
                {{'Phone' | translate}}
                <p-sortIcon field="phone"></p-sortIcon>
                <p-columnFilter type="text" field="phone" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 25rem; min-width: 10rem" pSortableColumn="performanceString">
                {{'Performance' | translate}}
                <p-sortIcon field="performanceString"></p-sortIcon>
                <p-columnFilter type="text" field="performanceString" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 25rem; min-width: 15rem" pSortableColumn="transactionAmount">
                {{'Customer_transaction' | translate}}
                <p-sortIcon field="transactionAmount"></p-sortIcon>
                <p-columnFilter type="numeric" field="transactionAmount" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 25rem; min-width: 10rem" pSortableColumn="expenditureAmount">
                {{'Expenditure' | translate}}
                <p-sortIcon field="expenditureAmount"></p-sortIcon>
                <p-columnFilter type="numeric" field="expenditureAmount" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 25rem; min-width: 11rem" pSortableColumn="accountingAmount">
                {{'Accounting' | translate}}
                <p-sortIcon field="accountingAmount"></p-sortIcon>
                <p-columnFilter type="numeric" field="accountingAmount" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 25rem; min-width: 10rem" pSortableColumn="feeAmount">
                {{'Fee' | translate}}
                <p-sortIcon field="feeAmount"></p-sortIcon>
                <p-columnFilter type="numeric" field="feeAmount" display="menu"></p-columnFilter>
            </th>
            <th style="max-width: 25rem; min-width: 10rem" pSortableColumn="feeRate">
                {{'Fee_rate' | translate}}
                <p-sortIcon field="feeRate"></p-sortIcon>
                <p-columnFilter type="numeric" field="feeRate" display="menu"></p-columnFilter>
            </th>
            <th style="min-width: 100px; max-width: 120px;">{{'Action' | translate}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
        <tr>
            <td pFrozenColumn style="max-width: 4rem; min-width: 4rem">
                <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td>
            <td style="max-width: 25rem; min-width: 15rem" pFrozenColumn>
                <div class="cursor-pointer" (click)="customerClicked(customer)">
                    {{customer.customerName}}
                </div>
            </td>
            <td style="max-width: 25rem; min-width: 12rem">
                {{customer.phone}}
            </td>
            <td style="max-width: 25rem; min-width: 10rem">
                <div>
                    <div>{{customer.performanceRate}}</div>
                    <div [ngStyle]="{'color': getColor(customer.performanceString)}">{{customer.performanceString}}
                    </div>
                </div>
            </td>
            <td style="max-width: 25rem; min-width: 15rem">{{customer.transactionAmount | number}}</td>
            <td style="max-width: 25rem; min-width: 10rem">{{customer.expenditureAmount | number}}</td>
            <td style="max-width: 25rem; min-width: 11rem">{{customer.accountingAmount | number}}</td>
            <td style="max-width: 25rem; min-width: 10rem">{{customer.feeAmount | number}}</td>
            <td style="max-width: 25rem; min-width: 10rem">{{customer.feeRate * 100}} %</td>
            <td style="min-width: 100px; max-width: 120px;">
                <button pButton pRipple type="button" icon="pi pi-info-circle" pTooltip="{{'Detail' | translate}}"
                    tooltipPosition="top" class="p-button-rounded p-button-text"
                    (click)="openDialog(customer, 'VIEW')"></button>

                <button [disabled]="!actions.includes(106)" pButton pRipple type="button" icon="pi pi-pencil"
                    pTooltip="{{'Edit' | translate}}" tooltipPosition="top" class="p-button-rounded p-button-text"
                    (click)="openDialog(customer)"></button>

                <button [disabled]="!actions.includes(107)" pButton pRipple type="button" icon="pi pi-trash"
                    pTooltip="{{'Delete' | translate}}" tooltipPosition="top"
                    class="p-button-rounded p-button-text p-button-danger" (click)="delete(customer)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-end">
            <div class="px-2">
                <div class="text-center">{{total.totalTransactionAmount | number}}</div>
                <div class="font-italic">{{'Total_transaction_amount' | translate}}</div>
            </div>

            <div class="px-2">
                <div class="text-center">{{total.totalExpenditureAmount | number}}</div>
                <div class="font-italic">{{'Total_expenditure_amount' | translate}}</div>
            </div>

            <div class="px-2">
                <div class="text-center">{{total.totalAccountingAmount | number}}</div>
                <div class="font-italic">{{'Total_accounting_amount' | translate}}</div>
            </div>

            <div class="px-2">
                <div class="text-center">{{total.totalFeeAmount | number}}</div>
                <div class="font-italic">{{'Total_fee_amount' | translate}}</div>
            </div>

            <div class="px-2">
                <div class="text-center">{{total.totalAnotherServiceFee | number}}</div>
                <div class="font-italic">{{'Total_another_service' | translate}}</div>
            </div>
        </div>
    </ng-template>
</p-table>

<p-paginator [rows]="limit" [totalRecords]="totalRecords" (onPageChange)="changePage($event)"
    [rowsPerPageOptions]="[30, 100, 500, 1000]"></p-paginator>

<p-confirmPopup></p-confirmPopup>
