<p-table [value]="organizations" responsiveLayout="scroll" scrollHeight="calc(100vh - 433px)" [loading]="fetchingData"
    dataKey="organizationId" styleClass="p-datatable-sm" [(selection)]="selectedOrganizations"
    (selectionChange)="selectionChange()">
    <ng-template *ngIf="actions.includes(501)" pTemplate="caption">
        <div class="flex">
            <p-button label="{{'Add_organization' | translate}}" icon="pi pi-plus"
                styleClass="p-button-sm" (click)="openDialog()"></p-button>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="max-width: 4rem; min-width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>{{'Organization' | translate}}</th>
            <th>{{'Description' | translate}}</th>
            <th>{{'Address' | translate}}</th>
            <th>{{'Fanpage' | translate}}</th>
            <th>{{'Website' | translate}}</th>
            <th style="min-width: 100px; max-width: 120px;">{{'Action' | translate}}</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-organization>
        <tr>
            <td style="max-width: 4rem; min-width: 4rem">
                <p-tableCheckbox [value]="organization"></p-tableCheckbox>
            </td>
            <td>{{organization.organizationName}}</td>
            <td>{{organization.description}}</td>
            <td>{{organization.address}}</td>
            <td>{{organization.fanpage}}</td>
            <td>{{organization.website}}</td>
            <td style="min-width: 100px; max-width: 120px;">
                <button pButton pRipple type="button" icon="pi pi-info-circle" pTooltip="{{'Detail' | translate}}"
                    tooltipPosition="top" class="p-button-rounded p-button-text"
                    (click)="openDialog(organization, 'VIEW')"></button>

                <button [disabled]="!actions.includes(502)" pButton pRipple type="button" icon="pi pi-pencil"
                    pTooltip="{{'Update' | translate}}" tooltipPosition="top" class="p-button-rounded p-button-text"
                    (click)="openDialog(organization)"></button>

                <button [disabled]="!actions.includes(201) && !actions.includes(202) " pButton pRipple type="button"
                    icon="pi pi-user-edit" pTooltip="{{'Update_member' | translate}}" tooltipPosition="top"
                    class="p-button-rounded p-button-text p-button-success"
                    (click)="updateUserOrganization(organization)"></button>

                <button [disabled]="!actions.includes(503)" pButton pRipple type="button" icon="pi pi-trash"
                    pTooltip="{{'Delete' | translate}}" tooltipPosition="top"
                    class="p-button-rounded p-button-text p-button-danger" (click)="delete(organization)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-paginator [rows]="limit" [totalRecords]="totalRecords" (onPageChange)="changePage($event)"
    [rowsPerPageOptions]="[30, 100, 500, 1000]"></p-paginator>
