:host ::ng-deep .p-chip.custom-chip {
    background: var(--primary-color);
    color: var(--primary-color-text);
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translate(0, -50%);
}

:host ::ng-deep .p-chip.campaign-filter-chip {
    background: var(--primary-color);
    color: var(--primary-color-text);
    // position: absolute;
    // right: 0.5rem;
    // top: 50%;
    // transform: translate(0, -50%);
}

@media only screen and (max-width: 600px) {
    ::ng-deep p-calendar {
        span>div {
            display: flex;
            flex-direction: row-reverse;

            p-footer {
                display: flex;
                flex-direction: column;
                width: max-content;
                justify-content: center;
            }
        }
    }
}
