<div class="card">
    <p-table [value]="codes" responsiveLayout="scroll" styleClass="p-datatable-sm" scrollHeight="calc(100vh - 333px)"
        [loading]="fetchingData">
        <ng-template pTemplate="caption">
            <div class="flex">
                <div class="flex">
                    <p-button label="{{'Add_code' | translate}}" icon="pi pi-plus" styleClass="p-button-sm mr-2"
                        (click)="openDialog()"></p-button>
                </div>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [ngModel]="name" (ngModelChangeDebounced)="searchByName($event)"
                        placeholder="{{'Search_placeholder' | translate}}" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th>{{'Code' | translate}}</th>
                <th>{{'Created_by' | translate}}</th>
                <th>{{'Created_date' | translate}}</th>
                <th>{{'Expires_in' | translate}}</th>
                <th style="min-width: 100px; max-width: 120px;">{{'Action' | translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-code let-i="rowIndex">
            <tr>
                <td>{{this.page * i + 1}}</td>
                <td>{{code.code}}</td>
                <td>{{code.createdBy.lastName}} {{code.createdBy.firstName}}</td>
                <td>{{code.createdUtdDate | date:'dd/MM/yyyy'}}</td>
                <td>{{code.expireAt | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                <td style="min-width: 100px; max-width: 120px;">
                    <button pButton pRipple type="button" icon="pi pi-copy" pTooltip="{{'Copy' | translate}}"
                        tooltipPosition="top" class="p-button-rounded p-button-text"
                        [cdkCopyToClipboard]="copyCode(code)"></button>
                    <button pButton pRipple type="button" icon="pi pi-pencil" pTooltip="{{'Update' | translate}}"
                        tooltipPosition="top" class="p-button-rounded p-button-text"
                        (click)="openDialog(code)"></button>
                    <button pButton pRipple type="button" icon="pi pi-trash" pTooltip="{{'Delete' | translate}}"
                        tooltipPosition="top" class="p-button-rounded p-button-text p-button-danger"
                        (click)="delete(code)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-paginator [rows]="limit" [totalRecords]="totalRecords" (onPageChange)="changePage($event)"
        [rowsPerPageOptions]="[30, 100, 500, 1000]"></p-paginator>
</div>
